/* ----------------------------------
 * Theme du projet (valeurs primitives)
 * ----------------------------------
 */

/* stylelint-disable */
/* Breakpoints custom (si compatibles) */
@custom-media --md (width >= 48rem);
@custom-media --lg (width >= 64rem);
@custom-media --xl (width >= 80rem);
@custom-media --xxl (width >= 96rem);
@custom-media --until-md (width < 48rem);
@custom-media --until-lg (width < 64rem);
@custom-media --until-xl (width < 80rem);
@custom-media --until-xxl (width < 96rem);
/* stylelint-enable */

:root {
  /* Breakpoints (en dur) */
  --md: 48rem; /* 768px */
  --lg: 64rem; /* 1024px */
  --xl: 80rem; /* 1280px */
  --xxl: 96rem; /* 1536px */

  /* Transitions et animations */
  --transition-duration: 250ms;

  /* Niveaux de z-index */
  --z-under-page-level: -1;
  --z-above-page-level: 1;
  --z-header-level: 1000;
  --z-above-header-level: 2000;
  --z-above-all-level: 3000;

  /* Espacements */
  --spacing-0: 0;
  --spacing-1: 1px;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;

  /* Familles de police */
  --font-base: system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;

  /* Graisses de police */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Tailles de police */
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-28: 1.75rem;
  --text-32: 2rem;
  --text-36: 2.25rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-64: 4rem;
  --text-80: 5rem;

  /* Interlignage (line-height) */
  --line-height-20: 1.25rem;
  --line-height-24: 1.5rem;
  --line-height-28: 1.75rem;
  --line-height-32: 2rem;
  --line-height-36: 2.25rem;
  --line-height-40: 2.5rem;
  --line-height-48: 3rem;
  --line-height-56: 3.5rem;
  --line-height-80: 5rem;
  --line-height-100: 6.25rem;

  /* Border radius */
  --radius-none: 0;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-24: 1.5rem;
  --radius-full: 9999px;

  /* Couleurs (globales) */
  --color-white: oklch(1 0 0);
  --color-black: oklch(0 0 0);
  --color-gray-50: oklch(0.97 0 0);
  --color-gray-100: oklch(0.922 0 0);
  --color-gray-200: oklch(0.87 0 0);
  --color-gray-300: oklch(0.708 0 0);
  --color-gray-400: oklch(0.556 0 0);
  --color-gray-500: oklch(0.439 0 0);
  --color-gray-600: oklch(0.371 0 0);
  --color-gray-700: oklch(0.269 0 0);
  --color-gray-800: oklch(0.205 0 0);
  --color-gray-900: oklch(0.145 0 0);

  /* Brand (Violet Tonic) */
  --color-brand-50: oklch(0.97 0.02 290);
  --color-brand-100: oklch(0.93 0.05 290);
  --color-brand-200: oklch(0.88 0.08 290);
  --color-brand-300: oklch(0.78 0.15 290);
  --color-brand-400: oklch(0.65 0.22 290);
  --color-brand-500: oklch(0.55 0.28 290);
  --color-brand-600: oklch(0.45 0.26 290);
  --color-brand-700: oklch(0.35 0.22 290);
  --color-brand-800: oklch(0.25 0.15 290);
  --color-brand-900: oklch(0.15 0.1 290);
  --color-error-100: oklch(0.97 0.1 27.52);
  --color-error-300: oklch(0.7054 0.19 27.52);
  --color-error-500: oklch(0.5054 0.19 27.52);
  --color-error-700: oklch(0.3554 0.19 27.52);
  --color-error-900: oklch(0.2054 0.11 27.52);
  --color-success-100: oklch(0.9446 0.13 150.685);
  --color-success-300: oklch(0.7166 0.13 150.73);
  --color-success-500: oklch(0.5166 0.13 150.73);
  --color-success-700: oklch(0.3666 0.13 150.73);
  --color-success-900: oklch(0.2166 0.13 150.73);
  --color-warning-100: oklch(0.97 0.08 49.95);
  --color-warning-300: oklch(0.8315 0.17 49.95);
  --color-warning-500: oklch(0.6315 0.17 49.95);
  --color-warning-700: oklch(0.4815 0.17 49.95);
  --color-warning-900: oklch(0.3315 0.11 49.95);
  --color-info-100: oklch(0.97 0.09 256.37);
  --color-info-300: oklch(0.7133 0.18 256.37);
  --color-info-500: oklch(0.5133 0.18 256.37);
  --color-info-700: oklch(0.3633 0.18 256.37);
  --color-info-900: oklch(0.2133 0.11 256.37);
}
